In [31]:
# Install the necessary library
!pip install XlsxWriter # This library is necessary to save an excel file

Collecting XlsxWriter
  Obtaining dependency information for XlsxWriter from https://files.pythonhosted.org/packages/4f/64/42063c82918475ce0a63fa19063607e60969b1498ccd4220274cf808fc60/XlsxWriter-3.1.6-py3-none-any.whl.metadata
  Downloading XlsxWriter-3.1.6-py3-none-any.whl.metadata (2.6 kB)
Downloading XlsxWriter-3.1.6-py3-none-any.whl (154 kB)
   ---------------------------------------- 0.0/154.3 kB ? eta -:--:--
   ------- -------------------------------- 30.7/154.3 kB 1.3 MB/s eta 0:00:01
   --------------- ----------------------- 61.4/154.3 kB 656.4 kB/s eta 0:00:01
   --------------------------- ---------- 112.6/154.3 kB 819.2 kB/s eta 0:00:01
   -------------------------------------  153.6/154.3 kB 833.5 kB/s eta 0:00:01
   -------------------------------------- 154.3/154.3 kB 615.6 kB/s eta 0:00:00
Installing collected packages: XlsxWriter
Successfully installed XlsxWriter-3.1.6
Note: you may need to restart the kernel to use updated packages.

In [2]:
# import the necessary libraries
import pandas as pd
import numpy as np

In [3]:
# Get the path to the data
file_path = "/Users/HP/Downloads/Kansis23.csv (1)/Kansis23.csv"

### Read the dataset

In [4]:
# pd.read_csv is used to read the excel file
df = pd.read_csv(file_path)

In [5]:
# Display the first 5 rows
df.head()

,Timestamp,Username,Full Name,E-mail (input your working email),Phone Number,Alternative phone number,Gender,Date of birth,State,Current residence,Country,Highest level of education,How do you plan to join the event?,Would you like to make a presentation?,"If yes, write a brief about the topic",Are you willing to share your success story during and after the event?
0,2023/09/05 4:26:15 PM GMT+1,nazifiyahayamaikano@gmail.com,Nazifi Yahaya Maikano,nazifiyahayamaikano@gmail.com,08097728360,08062339764,Male,1994-12-16,Kano,Fagge Kano,Nigeria,Degree/HND,Physically in Kano,No,No,Yes
1,2023/09/05 5:04:27 PM GMT+1,sadiqsani441@gmail.com,Sadik Sani Adam,sadiqsani441@gmail.com,08102694770,NaN,Male,2000-08-08,Kano,Kurna makaranta kano state,Nigeria,SSCE,Physically in Kano,No,No,Maybe
2,2023/09/05 6:01:42 PM GMT+1,ismaaga6@gmail.com,Ismail Auwal,Ismaaga6@gmail.com,+2348065895152,NaN,Male,1993-01-28,Kano,Kano,Nigeria,Degree/HND,Physically in Kano,Yes,Are humans in danger from artificial intellige...,Yes
3,2023/09/05 8:01:39 PM GMT+1,ibmwali11@gmail.com,Ibrahim Muhammad Abubakar,ibmwali11@gmail.com,08036504047,08032395888,Male,1996-06-07,Kano state,Kano state,Nigeria,Degree/HND,Physically in Kano,No,Positive interaction among ourselves key to go...,Yes
4,2023/09/05 8:10:46 PM GMT+1,muhammadhassan5047@gmail.com,Muhammad Hassan Adam,muhammadhassan5047@gmail.com,08060745047,NaN,Male,1997-06-26,Kano,Kano,Nigeria,Degree/HND,Physically in Kano,No,No,Yes

In [6]:
# Get information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 16 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   Timestamp                                                                649 non-null    object
 1   Username                                                                 649 non-null    object
 2   Full Name                                                                649 non-null    object
 3   E-mail (input your working email)                                        649 non-null    object
 4   Phone Number                                                             649 non-null    object
 5   Alternative phone number                                                 517 non-null    object
 6   Gender                                                                   649 non-null    object
 7   Date of birth                                                            649 non-null    object
 8   State                                                                    649 non-null    object
 9   Current residence                                                        649 non-null    object
 10  Country                                                                  649 non-null    object
 11  Highest level of education                                               649 non-null    object
 12  How do you plan to join the event?                                       649 non-null    object
 13  Would you like to make a presentation?                                   649 non-null    object
 14  If yes, write a brief about the topic                                    416 non-null    object
 15  Are you willing to share your success story during and after the event?  649 non-null    object
dtypes: object(16)
memory usage: 81.3+ KB

In [7]:
# Delete the rows that are useful for the work
df.drop("Timestamp", axis=1, inplace=True)
df.drop("Username", axis=1, inplace=True)
df.drop("Date of birth", axis=1, inplace=True)
df.drop("Alternative phone number", axis=1, inplace=True)
df.drop("Gender", axis=1, inplace=True)
df.drop("State", axis=1, inplace=True)
df.drop("Current residence", axis=1, inplace=True)
df.drop("Country", axis=1, inplace=True)
df.drop("How do you plan to join the event?", axis=1, inplace=True)
df.drop("Are you willing to share your success story during and after the event?", axis=1, inplace=True)

In [8]:
# Check back again after deleting the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 6 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Full Name                               649 non-null    object
 1   E-mail (input your working email)       649 non-null    object
 2   Phone Number                            649 non-null    object
 3   Highest level of education              649 non-null    object
 4   Would you like to make a presentation?  649 non-null    object
 5   If yes, write a brief about the topic   416 non-null    object
dtypes: object(6)
memory usage: 30.6+ KB

In [9]:
# Display the data
df.head()

,Full Name,E-mail (input your working email),Phone Number,Highest level of education,Would you like to make a presentation?,"If yes, write a brief about the topic"
0,Nazifi Yahaya Maikano,nazifiyahayamaikano@gmail.com,08097728360,Degree/HND,No,No
1,Sadik Sani Adam,sadiqsani441@gmail.com,08102694770,SSCE,No,No
2,Ismail Auwal,Ismaaga6@gmail.com,+2348065895152,Degree/HND,Yes,Are humans in danger from artificial intellige...
3,Ibrahim Muhammad Abubakar,ibmwali11@gmail.com,08036504047,Degree/HND,No,Positive interaction among ourselves key to go...
4,Muhammad Hassan Adam,muhammadhassan5047@gmail.com,08060745047,Degree/HND,No,No

In [10]:
# Display the last 5 rows
df.tail()

,Full Name,E-mail (input your working email),Phone Number,Highest level of education,Would you like to make a presentation?,"If yes, write a brief about the topic"
644,Khalid Abdullahi Isa,abdullahikhalid59@gmail.com,09069491797,SSCE,Maybe,NaN
645,Abubakar danladi Usman,Abubakardanladiusman2020@gmail.com,09031233760,School/national diploma,No,NaN
646,IBRAHIM SAID IDRIS,ibrahimsaiduidris003@gmail.com,09069172984,School/national diploma,Maybe,NaN
647,Muhammad yz,Moohyz@citad.com,09065564378,Degree/HND,No,NaN
648,Maryam Sadiq Bilyamin,yamairashettima@gmail.com,09092905178,Degree/HND,Yes,Drug Abuse or unemployment

In [11]:
# Check the data frame
df.describe()

,Full Name,E-mail (input your working email),Phone Number,Highest level of education,Would you like to make a presentation?,"If yes, write a brief about the topic"
count,649,649,649,649,649,416
unique,623,618,619,4,3,260
top,Aisha sani abubakar,Yes,09069168212,Degree/HND,No,No
freq,4,4,4,355,318,93

In [12]:
# Here, we want to copy the features of df to another variable
final_data = df.copy()

In [13]:
# Check whether it is successful
final_data.head()

,Full Name,E-mail (input your working email),Phone Number,Highest level of education,Would you like to make a presentation?,"If yes, write a brief about the topic"
0,Nazifi Yahaya Maikano,nazifiyahayamaikano@gmail.com,08097728360,Degree/HND,No,No
1,Sadik Sani Adam,sadiqsani441@gmail.com,08102694770,SSCE,No,No
2,Ismail Auwal,Ismaaga6@gmail.com,+2348065895152,Degree/HND,Yes,Are humans in danger from artificial intellige...
3,Ibrahim Muhammad Abubakar,ibmwali11@gmail.com,08036504047,Degree/HND,No,Positive interaction among ourselves key to go...
4,Muhammad Hassan Adam,muhammadhassan5047@gmail.com,08060745047,Degree/HND,No,No

### Extracting Attribute

In [14]:
# Create a variable to store the required column 
target = final_data["Would you like to make a presentation?"]
print(target) # Check out

0         No
1         No
2        Yes
3         No
4         No
       ...
644    Maybe
645       No
646    Maybe
647       No
648      Yes
Name: Would you like to make a presentation?, Length: 649, dtype: object

In [15]:
# Extract the 'yes' answers from the column
yes_selections = final_data[target == 'Yes']
print(yes_selections) # Extracted
print(len(yes_selections))

                 Full Name E-mail (input your working email)    Phone Number  \
2             Ismail Auwal                Ismaaga6@gmail.com  +2348065895152
12   Muhammad Hafiz Nagogo    Muhammadhafeeznagogo@gmail.com     08069073009
15        Ahmad Rufai Musa            msahmadrufai@gmail.com     08037955918
20        Abubakar Salisu                sabba7032@gmail.com      7031513896
30   Aminu Muhammad lawan        Aminulmuhammad06@gmail.com      08133827732
..                     ...                               ...             ...
631  Ahmad auwalu  katagum                           Online      08143798669
632   Sadiya Lawal Danyaro        sdanyaro@fudutsinma.edu.ng     07060983198
636       Nasiru Abubakar            nasirumar737@gmail.com      07068890883
639             Adamu Dabo               daboadamu@gmail.com     08033973309
648  Maryam Sadiq Bilyamin         yamairashettima@gmail.com     09092905178

    Highest level of education Would you like to make a presentation?  \
2                   Degree/HND                                    Yes
12                        SSCE                                    Yes
15                  Degree/HND                                    Yes
20                        SSCE                                    Yes
30                        SSCE                                    Yes
..                         ...                                    ...
631   Professional certificate                                    Yes
632                 Degree/HND                                    Yes
636    School/national diploma                                    Yes
639                 Degree/HND                                    Yes
648                 Degree/HND                                    Yes

                If yes, write a brief about the topic
2    Are humans in danger from artificial intellige...
12   Gender-based violence (GBV) is a serious viola...
15   ICT and Enterpreneuship as Panacea to Youth Id...
20                        I want to improve knowledge
30                                               Good
..                                                 ...
631                               Verval presentation
632  *Digital Literacy for Women and Girls*   Digit...
636  Gender violence Gender-based violence refers t...
639  One of the basic effect of digital Journalism ...
648                         Drug Abuse or unemployment

[136 rows x 6 columns]
136

In [16]:
# Display the data frame
yes_selections.head(5)

,Full Name,E-mail (input your working email),Phone Number,Highest level of education,Would you like to make a presentation?,"If yes, write a brief about the topic"
2,Ismail Auwal,Ismaaga6@gmail.com,+2348065895152,Degree/HND,Yes,Are humans in danger from artificial intellige...
12,Muhammad Hafiz Nagogo,Muhammadhafeeznagogo@gmail.com,08069073009,SSCE,Yes,Gender-based violence (GBV) is a serious viola...
15,Ahmad Rufai Musa,msahmadrufai@gmail.com,08037955918,Degree/HND,Yes,ICT and Enterpreneuship as Panacea to Youth Id...
20,Abubakar Salisu,sabba7032@gmail.com,7031513896,SSCE,Yes,I want to improve knowledge
30,Aminu Muhammad lawan,Aminulmuhammad06@gmail.com,08133827732,SSCE,Yes,Good

In [17]:
# Get the columns
final_data.columns

Index(['Full Name', 'E-mail (input your working email)', 'Phone Number',
       'Highest level of education', 'Would you like to make a presentation?',
       'If yes, write a brief about the topic '],
      dtype='object')

In [18]:
# renaming the columns and inser a new column "index' to the dataframe
final_data['index'] = range(1, len(final_data) +1)
index_column = final_data.pop("index")
ID = [final_data.insert(0, "index", index_column)]
final_data_pdFrame = pd.DataFrame(final_data)
final_data_pdFrame.rename(columns={'Full Name':'Name',
                                   'E-mail (input your working email)':'email',
                                   'Phone Number':'Number',
                                   'Highest level of education':'Education',
                                   'Would you like to make a presentation?':'Presenter',
                                   'If yes, write a brief about the topic ':'Topic'},
                                   inplace = True)
print("After modifying the columns\n", final_data_pdFrame.columns)

After modifying the columns
 Index(['index', 'Name', 'email', 'Number', 'Education', 'Presenter', 'Topic'], dtype='object')

In [19]:
# Check whether the names have changed
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      649 non-null    int64
 1   Name       649 non-null    object
 2   email      649 non-null    object
 3   Number     649 non-null    object
 4   Education  649 non-null    object
 5   Presenter  649 non-null    object
 6   Topic      416 non-null    object
dtypes: int64(1), object(6)
memory usage: 35.6+ KB

### Download the file

In [20]:
# Create an Excel writer object
excel_writer = pd.ExcelWriter('presenters.xlsx', engine='xlsxwriter')

# Write the DataFrame to the Excel file
yes_selections.to_excel(excel_writer, sheet_name='Sheet 1', index=False)

# Save the Excel file
excel_writer.save()

print("Excel file 'presenters.xlsx' created successfully.")

C:\Users\HP\AppData\Local\Temp\ipykernel_3672\2291127224.py:8: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  excel_writer.save()

Excel file 'presenters.xlsx' created successfully.

In [46]:
# Save the text format 
text_writer = pd.DataFrame(yes_selections)
text_writer.to_csv('topic.txt', sep='\t', index = False)